@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

#root {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("/BG_03.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  --tw-bg-opacity: 1;
  background-position: center;
}