@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hurme-Geometric-BO';
  src: url(./fonts/HurmeGeometricSans4-BlackObl.ttf);
}
@font-face {
  font-family: 'Hurme-Geometric-N';
  src: url(./fonts/HurmeGeometricSans4-SemiBold.ttf);
}

:root {
  color-scheme: light dark;
}

:root {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("/BG_04.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  --tw-bg-opacity: 1;
    background-color: rgb(39 39 42 / var(--tw-bg-opacity));


    /* background-Image:linear-gradient(44.67deg, rgb(69, 149, 214) 0%, rgba(68, 107, 132, 0.85) 17.4%, rgba(124, 136, 116, 0.85) 42.63%, rgba(164, 132, 81, 0.801) 72.45%, rgba(199, 127, 55, 0.883) 100%), url('./Fondo4.png'); */
}

.bgln{
  background-Image:linear-gradient(44.67deg, rgb(69, 149, 214) 0%, rgba(68, 107, 132, 0.85) 17.4%, rgba(124, 136, 116, 0.85) 42.63%, rgba(164, 132, 81, 0.801) 72.45%, rgba(199, 127, 55, 0.883) 100%), url('./Fondo4.png');
}

.bg-hero-pattern{
  background-Image:linear-gradient(44.67deg, rgb(69, 149, 214) 0%, rgba(68, 107, 132, 0.85) 17.4%, rgba(124, 136, 116, 0.85) 42.63%, rgba(164, 132, 81, 0.801) 72.45%, rgba(199, 127, 55, 0.883) 100%), url('./Fondo1.png');
}

/* .bg-div{
  background-image: url("/Fondo5.png");
} */